@import '../../../../styles/constants';

.search {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  overflow: auto;
}

.search .search-field {
  width: 100%;
  margin-top: 40px;
}

.search .current-forecast {
  width: 100%;
  max-width: 600px;
  margin-top: 40px;
}