@import '../../../../../../styles/constants';

$row-size: 32px;
$icon-size: 20px;

.favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  cursor: pointer;
}

.favorite-item .text {
  margin-right: 20px;
}

.favorite-item .remove-button {
  flex: 0 0 $row-size;
  width: $row-size;
  height: $row-size;

  background: url('../../../../../../assets/remove.png') center center/$icon-size $icon-size no-repeat;

  cursor: pointer;
}

.favorite-item:hover {
  background-color: rgba(1, 208, 162, 0.2);
}