@import '../../../../styles/constants';

.menu {
  display: flex;
  height: $menu-height;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  background-color: rgba(1, 208, 162, 0.50);
}

.menu .links {
  display: flex;
}

.menu .links > div {
  padding: 5px 10px 3px;

  border-left: 2px solid $text-color;

  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.menu .links > div:first-of-type {
  border-left: 0;
}

.menu .localizations {
  display: flex;
}

.menu .localizations .flag {
  margin-left: 10px;

  cursor: pointer;
}