@import '../../../../styles/constants';

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  overflow: auto;
}

.favorites .no-favorites {
  margin-top: 40px;

  font-size: 2em;
  font-weight: bold;
}

.favorites .favorites-list {
  margin-top: 40px;
  min-width: 500px;
}