@import '../../../../../../styles/constants';

.weather {

}

.weather .loader {
  width: 100%;
  height: 66px;

  background: url('../../../../../../assets/loader.gif') center center no-repeat;
}

.weather .weather-wrap {

}

.weather .weather-wrap .location {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.weather .weather-wrap .title {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}